* {
    margin: 0px;
    padding: opx;
}

body {
    font-family: "Lato", sans-serif;
}

.box{
    position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick to the top of the page */
  z-index: 1000; /* Ensure it's above other content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for visual effect */
  filter: opacity(0.8);
}

/*  first div  */
#btnn{
    margin-top: 6%;
    border: none;
    background-color: orange;
    padding: 13px 15px;
    color: white;
    font-weight: bolder;
}
#btnn:hover{
    background-color: white;
    color: orange;
    border: 1px solid orange;
}

/* Container holding the image and the text */

.container {
    position: relative;
}

.container img {
    object-fit: cover;
    overflow: hidden;
    height: 800px;
    width: 100%;
}


/* Bottom right text */

.text-block {
    position: absolute;
    bottom: 20px;
    background-color: transparent;
    padding-left: 6%;
    padding-bottom: 37%;
}

.bloging {
    padding-top: 2%;
    padding-bottom: 2%;
}

.bloging h1 {
    font-size: 60px;
    text-align: center;
    font-size: 900;
    color: black;
}

.bloging p {
    font-size: 30px;
    text-align: center;
    color: black;
}

.bloging pre {
    font-size: 30px;
    text-align: center;
    font-size: 1400;
    color: red;
}


/* div 3rd box */

.something {
    display: flex;
    height: 900px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#some1 {
    height: 900px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    transform: scale(1.07);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.4);
    /* background-color: azure; */
}

#some1 img {
    height: 900px;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.4);
}

#some1 img:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}

.some2 {
    height: 900px;
    width: 100%;
    /* background-color: aqua; */
}

.thing1 {
    display: flex;
    height: 450px;
    /* background-color: aqua; */
}

.thing2 {
    display: flex;
    height: 450px;
    /* background-color: aquamarine; */
}

#so1 {
    width: 100%;
    height: 450px;
    background-color: aqua;
    object-fit: cover;
    overflow: hidden;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.4);
}

#so1 img:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}

#so2 {
    width: 100%;
    height: 450px;
    background-color: aqua;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.4);
}

#so2 img:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}

#me1 {
    width: 100%;
    height: 450px;
    background-color: aqua;
    object-fit: cover;
    overflow: hidden;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.4);
}

#me1 img:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}

#me2 {
    width: 100%;
    height: 450px;
    background-color: aqua;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.4);
}

#me2 img:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}


/* slick slider  */


/* slide show */

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img {
    padding: 10px;
    overflow: hidden;
    object-fit: cover;
    height: 306px;
    width: 40%;
}


/* email box */

.email {
    height: 450px;
    width: 100%;
    background-color: #fff;
    display: flex;
    margin-top: 5%;
}

.email1,
h1,
p {
    align-items: center;
    font-size: 30px;
    padding-top: 6%;
    font-weight: 900;
    color: #111;
}

.email2 {
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.layout {
    height: 600px;
    width: 600px;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.4);
    background-color: #c1c1c152;
    display: flex;
    border-radius: 40px;
    box-shadow: 20px 20px 60px #00000027, inset -20px -20px 60px #fff;
}

.layout:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}

.layout img {
    height: 600px;
    width: 600px;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.4);
    background-color: #c1c1c152;
    display: flex;
    border-radius: 40px;
    box-shadow: 20px 20px 60px #00000027, inset -20px -20px 60px #fff;
    object-fit: cover;
    overflow: hidden;
}


/* 8 box division */

.plz {
    display: flex;
    height: 400px;
    width: 100%;
    padding-bottom: 1%;
}

.plz1 {
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#container {
    position: relative;
    width: 90%;
    padding: 10px;
    height: 400px;
}

#container img {
    object-fit: cover;
    overflow: hidden;
    height: 400px;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 400px;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.4);
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#container:hover .image {
    opacity: 0.3;
    transform: scale(1.07);
    transition: transform 0.4s ease-in-out;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.4);
}

#container:hover .middle {
    opacity: 1;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.4);
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}