<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
   <div class="container-fluid">

   <!--  navbar start  -->
		<div class="box">
			<div class="box1"><span style="font-size:30px;cursor:pointer; padding-left: 20px;"
					onclick="openNav()">&#9776;</span>
			</div>
			<div class="box2">
				  <a href="../index">Home</a>
                <a href="../tours">Tours</a>
                <a href="../destinations">Destinations</a>
                <a href="../news">News</a>
                <a href="../contact" style="color: rgba(255, 0, 0, 0.605);">Contact</a>
                <a href="../about">About</a>


			</div>
			<div class="box3">
				<div class="x">
					<a href=""><i class="ri-search-line"></i></a>
				</div>
				<div class="x">
					<a href="../login"><i class="ri-user-line"></i></a>
				</div>
			</div>
		</div>
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			  <a href="../index">Home</a>
                <a href="../tours">Tours</a>
                <a href="../destinations">Destinations</a>
                <a href="../news">News</a>
                <a href="../contact" style="color: rgba(255, 0, 0, 0.605);">Contact</a>
                <a href="../about">About</a>
		</div>

		<!-- Navbar end -->

    <div class="home">
        <h3><a href="#">Home &nbsp;|</a> &nbsp; Contact</h3>
    </div>
    <br/>
    <br/>

    <!-- contact box -->
     <div class="contact">
        <div class="con1">
            <div class="sam">
                <h1>Contact Us</h1>
                <p>Contact us to book your perfect journey to the place of your dream easily and quickly.</p>
            </div>
            <br/>
            <div class="sam">
                <i class="ri-message-2-line">&emsp; Send a message</i>
                <p>&emsp; &emsp; Contact our support team</p>
            </div>
            <br/>
            <div class="sam">
                <i class="ri-phone-line">&emsp; You can contact our support service by phone 24/7</i>
                <p style="color: orange;font-size: 28px;">&emsp; &ensp; 800 123-45-678</p>
            </div>
            <br/>
            <div class="sam">
                <i class="ri-map-pin-line">&emsp;You can also consult our office.</i>
                <p style="font-size: 19px;">&emsp; &emsp; 1145 17th Street NW, Washington, DC 20036</p>
            </div>


        </div>
        <div class="con2">
            <div class="sim">
            <form action="../signupcode/" method="post">
                {% csrf_token %}
                <h1>Contact To Us</h1>
                <label for="Name">Name:</label>
                <br/>
                <input type="text" name="name" placeholder="Enter Your name" required>
                <br/>
                <label for="Email ">Email</label>
                <br/>
                <input type="email" name="email" placeholder="Enter Your Email" required>
                <br/>
                <label for="Number">Number</label>
                <br/>
                <input type="number" name="number" placeholder="Enter Your Mo. Number" required>
                <br/>
                <label for="message ">Message</label>
                <br/>
                <input type="text" name="message" placeholder="Your-message" required>
                <br/>
                <button id="vik">Send Message</button>
            </form>
        </div>
        </div>
     </div>


     <!-- map section -->
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14232.076643018974!2d80.9546435!3d26.902887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1727021308476!5m2!1sen!2sin" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>


        <!-- footer strt -->


        <footer class="footer">
            <div class="waves">
              <div class="wave" id="wave1"></div>
              <div class="wave" id="wave2"></div>
              <div class="wave" id="wave3"></div>
              <div class="wave" id="wave4"></div>
            </div>
            <ul class="social-icon">
              <li class="social-icon__item"><a class="social-icon__link" href="#">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a></li>
              <li class="social-icon__item"><a class="social-icon__link" href="#">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
              <li class="social-icon__item"><a class="social-icon__link" href="#">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a></li>
              <li class="social-icon__item"><a class="social-icon__link" href="#">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            </ul>
            <ul class="menu">
              <li class="menu__item"><a class="menu__link" href="../index">Home</a></li>
              <li class="menu__item"><a class="menu__link" href="../tours">Tours</a></li>
              <li class="menu__item"><a class="menu__link" href="../destinations">Destinations</a></li>
              <li class="menu__item"><a class="menu__link" href="../news">News</a></li>
              <li class="menu__item"><a class="menu__link" href="../contact">Contact</a></li>
              <li class="menu__item"><a class="menu__link" href="../about">About</a></li>

            </ul>
            <p>&copy; Vartika Nigam | All Rights Reserved</p>
          </footer>
          <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
          <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        <!-- footer end -->




    </div>
<script>
        // This script checks if the URL contains the 'success' parameter
        document.addEventListener("DOMContentLoaded", function() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('success')) {
                alert('Data submitted successfully');
                window.location.href = '../contact';  // Redirect to contact page
            }
        });
    </script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        $(document).ready(function() {
            $('.slider').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1000,
                dots: false,
                arrows: false,
            });
        });
    </script>
</body>
</html>