<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Edit Page</h1>
 <form action="../updatecode/" method="post">
   {% csrf_token %}
   <input type="hidden" name="id" value="{{ res.id }}"/>

   Name: <input type="text" name="name" value="{{ res.name }}"><br>

     email: <input type="email" name="email" value="{{ res.email }}"><br>

   phone: <input type="number" name="number" value="{{ res.number }}"><br>

   password: <input type="password" name="message" value="{{ res.message }}"><br>


   <button type="submit">Update</button>
 </form>
</body>
</html>